
<div id="container" class="h-25 d-inline-block">
  <div class="row justify-content-center">
    <h3 id="page-description">Ask your coach anything:</h3>
    <form action="/answer">
    <div class="input-group mb-3">
      <input autocomplete="off" type="text" class="form-control" id="input" name="question" placeholder="ask it already">
      <div class="input-group-append">
        <input type="submit" value="Ask" id="button" class="input-group-text">
      </div>
    </div>
    </form>
  </div>
</div>
